nav.uk-custom-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav.uk-custom-navbar.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #600506;
}

nav.uk-custom-navbar ul.uk-navbar-nav li a {
    color: #fff;
    font-size: 13px;
    font-family: 'ProximaNova', 'Helvetica', sans-serif;
    position: relative;
}

nav.uk-custom-navbar div.uk-navbar-right ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}

nav.uk-custom-navbar ul.uk-navbar-nav li.uk-active a {
    color: #f3b300;
}

nav.uk-custom-navbar ul.uk-navbar-nav li a:hover {
    color: #f3b300;
}

nav.uk-custom-navbar .uk-navbar-nav li a:hover::before {
    right: 15px;
}

nav.uk-custom-navbar li a::before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    right: calc(102% - 15px);
    bottom: 20px;
    height: 1px;
    background-color: currentColor;
    transition: 0.3s ease-in-out;
    transition-property: right;
}

nav.right-sidebar {
    display: block;
    position: fixed;
    width: 250px;
    min-height: 100%;
}

nav.right-sidebar .content-sidebar {
    margin: 20px;
}

nav.right-sidebar div.content-sidebar li.uk-nav-header {
    color: #f3f3f3;
    font-weight: bold;
}

nav.right-sidebar div.content-sidebar li.uk-active {
    background-color: #fff;
    border-radius: 3px;
    padding: 0px 7px;
    margin: 5px 0px;
}

nav.right-sidebar div.content-sidebar li.uk-parent {
    padding: 0px 7px;
}

nav.right-sidebar div.content-sidebar li.uk-active a {
    color: #222;
    font-weight: bold;
}

nav.right-sidebar div.content-sidebar li.uk-active a:hover {
    color: #222;
    padding-left: 0px;
}

nav.right-sidebar .content-sidebar ul li a {
    color: #fff;
}

nav.right-sidebar .content-sidebar ul li a:hover {
    /* background-color: #fff;
    border-radius: 3px;
    padding-left: 5px;
    color: #222;
    font-weight: bold; */
    color: greenyellow;
}

div.content {
    padding-left: 270px;
    margin-top: 80px;
}

.content h2:first-child {
    font-weight: 700;
    padding-top: 25px;
}